<div class="container">
  <div class="card">
    <div class="card-body">
      <h1 class="career-title">Career</h1>
      <p class="career-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat tincidunt risus sit amet gravida. Donec ornare bibendum ultrices. Nulla ante nulla, bibendum quis efficitur eu, malesuada sed velit. Vivamus.
      </p>
      <hr class="separator">
      <h3 class="open-job-title">Open Job List</h3>
      <br>
      <table>
        <thead>
          <tr>
            <th>SL</th>
            <th>Job Title</th>
            <th>Level</th>
            <th>Job Nature</th>
            <th>Close Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>UX Designer</td>
            <td>Mid level</td>
            <td>Full time</td>
            <td>23th Day of May 2020</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
